<%= form_with(model: last_name, local: true) do |form| %>
  <% if last_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(last_name.errors.count, "error") %> prohibited this last_name from being saved:</h2>

      <ul>
      <% last_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.text_field :birthday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
